name: documentation

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    container:
       image: python:3.10.12-slim-bullseye
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y coreutils git
          POETRY_VERSION=1.8.4
          pip install -U pip setuptools
          pip install poetry==${POETRY_VERSION}
          poetry install
          poetry run pip install git+https://github.com/jax-md/jax-md.git

      - name: Sphinx build
        run: |
          poetry run sphinx-build -b html docs/source _build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
